{% extends 'base.html' %}

{% block title %} Cart{% endblock %}

{% block Content %}

     <div class="jumbotron">
      <div class="container">
        <h1>Cart</h1>
      </div>
    </div>
<div class="container">
{{ msg }}
{% for item in cart_exists.products.all %}
<div class="row"><div class="col-md-6">{{ item }} <br> {{ item.description }}</div>
<div class="col-md-6">{% if item.image %}<img src="media/{{ item.image }}" width="100">{% endif %}</div>
</div>
{% endfor %}
<hr>
<a href="{% url 'empty' %}" ><button class="btn btn-primary">Empty Cart</button></a>
        </div>

{% endblock %}