{% extends "registration/registration_base.html" %}
{% block title %}Login - {% endblock %}
{% block content %}
<div class="row-fluid">
<div class="span8">
<h2>Yeah t</h2>
<br/>
</div>
<div class="span4" >
<h3>Login to your account.</h3>
<br/>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
<table>
<tr>
<td>{{ form.username.label_tag }}</td>
<td>{{ form.username }}</td>
</tr>
<tr>
<td>{{ form.password.label_tag }}</td>
<td>{{ form.password }}</td>
</tr>
</table>
<p><a href="{% url 'auth_password_reset' %}">Forgot</a> your password? <a href="{% url 'registration_register' %}">Need an account</a>?</p>
<input type="submit" value="Login" class="btn btn-warning" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
{% endblock %}