{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
Forgot your password? Enter your email in the form below and we'll send you
instructions for creating a new one.
<form method='post' action=''>{% csrf_token %}<table>
{{ form }}
<tr><td></td><td><input type='submit' value="Reset password" /></td></tr>
</table>
</form>
{% endblock %}