<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Ecommerce</a>

        </div>
          <div id="navbar" class="navbar-collapse-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'home' %}">HOME</a></li>
                  <li><a href="{% url 'Products' %}">Products</a></li>
                  <li><a href="/pages/about/">About</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li><a href="{% url 'cart' %}">Cart <span class="label label-info"> {{ request.session.total_items }}</span></a></li>

              </ul>
                 <h3><small class="pull-right">
                      <a href="http://127.0.0.1:8000/accounts/login/">Login</a>
                      <a href="http://127.0.0.1:8000/accounts/register/">Join</a>
                  </small></h3>
          </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    {% block content %}

    {% endblock %}


       <hr>
      <footer>
        <p>&copy;2016 ECOM</p>
      </footer>
    </div>


 <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
 <script src="{% static 'bootstrap/jquery.min.js' %}"></script>

</body>
</html>