{% extends 'base.html' %}

{% block Content %}
    <div class="jumbotron">
      <div class="container">
        <h1>ContactUS</h1>

      </div>
    </div>

<div class="container">
    <form method="POST">{% csrf_token %}
<table>{{ form.as_table }}</table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}