{% extends 'base.html' %}

{% block Content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Success</h1>

      </div>
    </div>

<div class="container">

    <h3>Hi {{ values.Name }}, your message has been submitted successfully</h3>
</div>

{% endblock %}