{% extends 'base.html' %}
{% block title %}HOME{% endblock %}

{% block Content %}

     <div class="jumbotron">
      <div class="container">
        <h1>HOME</h1>

      </div>
    </div>

{% endblock %}