{% extends 'base.html' %}

{% block title %}{{ product }}{% endblock %}

{% block Content %}

     <div class="jumbotron">
      <div class="container">
        <h1>{{ product }}</h1>

      </div>
    </div>

    <div class="container">

        {{ product }}
        <br>
        {{ product.description }}
        <p>Price : {{ product.price }}</p>
        <p>Stock : {{ product.inventory }}</p>
        {% if product.image %}
        <img src="media/{{ product.image }}" width="200">{% endif %}



    </div>
{% endblock %}