{% extends 'base.html' %}

{% block title %} Products{% endblock %}

{% block Content %}

     <div class="jumbotron">
      <div class="container">
        <h1>Products</h1>
        <p>Have A LOOK Around and Find Some To Buy.</p>
      </div>
    </div>

    <div class="container">
    {% for p in products %}

        <ul>
        <li><div class="row">
             <div class="col-md-4"><a href="{{ p.slug }}">{{ p.name }}</a><br>{{ p.description }}</div>
             {% if p.image %}<div class="col-md-4"> <img src="media/{{ p.image }}" width="100"></div>{% endif %}
             <div class="col-md-4"><a href="{{ p.slug }}/add"><button class="btn btn-primary">Add To Cart</button></a></div>
        </div></li>
        <hr>
        </ul>

    {% endfor %}
    </div>
{% endblock %}