{% extends 'base.html' %}
{% block title %}{{ flatpage.title }}{% endblock %}

{% block Content %}
     <div class="jumbotron">
      <div class="container">
        <h1>About Us</h1>
      </div>
    </div>
 <div class="container">
{{ flatpage.content }}
</div>
{% endblock %}